.carousel-item img {
	height: 600px;
	object-fit: cover;
}

.card {
	margin-top: 20px;
}

#contato form {
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#contato h2 {
	margin-bottom: 40px;
}

#contato form .form-group label {
	font-weight: bold;
}

#contato form button {
	margin-top: 20px;
}